<!DOCTYPE html>
<html>
    <head>
        <title>CARGO MANAGEMENT</title>
    </head>
    <body>
        <script type="text/javascript">
            
            var lenShip = <%=ship.lenShip%>;
            var widShip = <%=ship.widShip%>;
            var capShip = <%=ship.capShip%>;
            var levShip = <%=ship.levShip%>;
            var noDes   = <%=ship.noDes%>;

            var con = [];
            // <%ship.containers.forEach(function(container) {%>
            //     con.push(<%=container%>);
            // <%});%>
            
            

           


            document.writeln(lenShip);
            document.writeln(widShip);
            document.writeln(capShip);
            document.writeln(levShip);
            document.writeln(noDes);
            



        </script>
    </body>

</html>
